<div class="table">
  <table id="resourceschedule">
    <thead>
      <tr class="filter">
          <th class="filter"><button>Quick Schedule</button></th>
      </tr>
      <tr>
        <td class="sticky tall view-all-resource" rowspan="2" style="padding-right:4px;">
          <div>
            <button>View Other Resources</button>
          </div>
        </td>
        <th colspan="5"
         *ngFor="let item of newDaysArray"
        class="timeline-headers">
          {{item.startDate | date:'dMMM'}} - {{item.endDate | date:'dMMM'}}
        </th>
      </tr>
      <tr>
        <td  style="padding-right:4px;">
          <div>
                <!-- will be hidden -->
          </div>
        </td>
        <td *ngFor="let item of daysVal">
          <div class="weekbus">
            <!-- <b>Mon<br/>23 Oct</b> -->
            {{item | date:'dMMM' }}
          </div>
        </td>
      </tr>
    </thead>
    <tbody>
        <tr class="masterrow_1" *ngFor="let user of userIndividual" (click)="userActivityInfo(user)">
          <td class="sticky tall">{{user.userFullName}}</td>
          <td *ngFor="let userhours of user.IndividualHours">
            {{userhours.totalhours}} hrs
          </td>
        </tr>
    </tbody>
  </table>
</div>
